.style {
    background-color: darkgrey;
}
.text {
    color: blue;
}
.color {
    background-color: chocolate;
}
.visual{
    width: 1000px;  
    border: 1px solid black;
    border-collapse: collapse;
    
}
.table {
    table-layout: auto;
}
.visual2 {
    text-align: center;
    padding: 10px;
}
